{% extends "::template.html.twig" %}

{% block content %}

<!-- Page-head -->
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Confirmation réservation</h3>
            </div>
        </div>
    </div>
</div>
<!-- Page-head -->

<div class="container">
    <h1 style="font-family:Goudy; color:grey"> Votre réservation a été prise en charge</h1>
    <h3>Veuillez vous rapprocher de l'agence le plus proche pour payer afin d'obtenir le bien</h3>
</div>
<div class="space80"></div>
{% endblock %}